* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   font-family: "Space Mono", monospace;
   background-image: url("/pages/space-invaders/public/image/Background.png");
   background-repeat: repeat-y;
   background-size: 100% auto;
   background-position: center 0%;
   image-rendering: pixelated;
   overflow: hidden;
}

/* Countdown */
.countdown-text {
   position: absolute;
   top: 35%;
   text-align: center;
   font-size: 4.5rem;
   color: #ffffff;
   font-weight: 500;
   max-width: 80%;
   line-height: 1.4;
   text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -1px 2px 0 #000,
      2px 2px 0 #000;
}

.countdown {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.8);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 200;
}

.countdown.hide {
   display: none;
}

.countdown-number {
   font-size: 10rem;
   color: #ffffff;
   font-weight: bold;
   text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -1px 2px 0 #000,
      2px 2px 0 #000;
}

@keyframes pulse {
   0% {
      transform: scale(0);
      opacity: 0;
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
      opacity: 1;
   }
}

/* UI */
.ui {
   position: fixed;
   padding: 1rem 2.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   width: 100%;
   top: 0;
}

.score {
   font-size: 2rem;
   color: #ffffff;
   font-weight: bold;
   text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -1px 2px 0 #000,
      2px 2px 0 #000;
}

.lives {
   display: flex;
   gap: 0.5rem;
}

.heart {
   width: 50px;
   height: 50px;
   image-rendering: pixelated;
}

/* Game Area */
.game-area {
   position: relative;
   width: 100%;
   height: 100vh;
   padding: 0 2.5rem;
   overflow: hidden;
}

.air-craft {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 2rem;
   width: 100px;
   height: 100px;
   image-rendering: pixelated;
   transition: left 0.05s linear;
}

.laser {
   position: absolute;
   width: 50px;
   height: 100px;
   image-rendering: pixelated;
}

.enemy-laser {
   position: absolute;
   width: 50px;
   height: 100px;
   image-rendering: pixelated;
}

.ufo {
   position: absolute;
   width: 100px;
   height: 100px;
   image-rendering: pixelated;
   z-index: 1;
}

.asteroid {
   position: absolute;
   width: 100px;
   height: 100px;
   image-rendering: pixelated;
   z-index: 1;
}

/* Win */
.win {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.8);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 200;
}

.win-text {
   font-size: 10rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   font-weight: bold;
   text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -1px 2px 0 #000,
      2px 2px 0 #000;
}
