* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background */
body {
    height: 100vh;
    background-image: url(../assets/image/background/BackgroundMenu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    image-rendering: pixelated;
}

/* Title */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-menu {
    width: 75%;
    height: auto;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
e .menu-item {
    max-width: 75%;
    max-height: auto;
}

.play {
    width: 100%;
}

.quit {
    width: 100%;
}
